.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff6347;
    border-radius: 8px;
    border: 2px solid white;
  }
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ff6347 transparent;
  }