.ordered {
  width: 100%;
  padding: 20px 100px;

  &__container {
    width: 100%;
    background-color: #fff;
    padding: 20px;

    &-title {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      margin-bottom: 20px;
    }
    &-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: #ff6347;

      & p {
        width: 100%;
        padding: 10px 0px;
        text-align: center;
        border: 1px solid #ccc;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
