.leftOrder {
  width: 50%;
  padding: 30px 0;
  padding-left: 10%;

  h1 {
    font-size: 30px;
    font-weight: 600;
    color: #9f7a5f;
  }

  &__address {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: #9f7a5f 1px solid;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      &-info {
        width: 100%;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-name {
          font-weight: 600;
        }
      }
    }

    &-addAddress {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;

      &-icon {
        width: 40px;
        height: 40px;
        color: #9f8674;
        cursor: pointer;
      }

      &:hover {
        color: #ff6347;
      }
    }
  }

  &__payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: #9f7a5f 1px solid;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;

    &-item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &-info {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;

        img {
          width: 50px;
          height: 50px;
        }

        &-detail {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          .title {
            font-size: 15px;
            font-weight: 600;
          }

          .detailt-item {
            width: 100%;
            height: 50px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            border: #9f7a5f 1px solid;
            border-radius: 8px;

            img {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0 10%;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 5%;
    
  }
}
