.detail-product_info {
  width: 100%;
  padding: 20px 130px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1091.98px) {
    padding: 20px 130px;
    flex-direction: column;
    gap: 50px;
  }

  @media screen and (max-width: 767.98px) {
    padding: 20px 20px;
    flex-direction: column;
    gap: 50px;
    // margin-bottom:0px;
  }

  @media screen and (max-width: 499.98px) {
    padding: 20px 20px;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loadingOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
