.forgot-password{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    color: #530e02;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:focus {
      outline: none;
      border: 1px solid rgb(92, 92, 251);
    }
  }
  button{
    width: 100%;
    height: 50px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #ff4500;
      transform: scale(1.05);
    }
  }
}
