.accessory {
  width: 100%;

  .accessory-advertise {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/bg-black-friday.jpg?1735139321674");
    background-size: cover;
    padding: 0 10%;
    background-repeat: no-repeat;

    .accessory-advertise__left {
      width: 30%;
      height: 90%;
      background-color: rgb(247, 227, 205);
      padding: 3% 3%;

      .accessory-advertise__logo {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
        .second {
          color: #ff6347;
        }
      }

      .accessory-advertise__title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        span {
          font-size: 35px;
          font-weight: 500;
          margin-right: 10px;
        }

        .yellow {
          color: #ffc847;
        }
      }
    }

    .accessory-advertise__right {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .accessory-advertise__right-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .accessory-advertise__right-item-one {
          width: 40%;
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          cursor: pointer;
          position: relative;

          .title {
            font-size: 30px;
            font-weight: 700;
            color: #ffc847;
            z-index: 5;
            text-align: center;
          }

          .description {
            font-size: 20px;
            font-weight: 500;
            color: #e5e4e4;
            z-index: 5;
            text-align: center;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.5); /* Điều chỉnh độ đậm bằng opacity */
          }
        }
        .one {
          background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/image_black_friday_1.jpg?1742401393294");
          background-size: cover;
          background-repeat: no-repeat;
        }
        .two {
          background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/image_black_friday_2.jpg?1742401393294");
          background-size: cover;
          background-repeat: no-repeat;
        }
        .three {
          background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/image_black_friday_3.jpg?1742401393294");
          background-size: cover;
          background-repeat: no-repeat;
        }
        .four {
          background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/image_black_friday_4.jpg?1742401393294");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    @media screen and (max-width: 991.98px) {
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-bottom: 30px;
      gap: 30px;
      .accessory-advertise__left {
        width: 50%;
      }
      .accessory-advertise__right {
        width: 100%;
      }
    }

    @media screen and (max-width: 499.98px) {
      .accessory-advertise__left {
        width: 90%;
      }
    }
  }

  .accessory-products-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;

    .accessory-products-menu__list-item {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .accessory-products-menu__li {
        font-size: 17px;
        font-weight: 500;
        color: #a1a1a1;
        cursor: pointer;
        transition: all 0.3s;
        border-bottom: 2px solid white;

        &:hover {
          color: #fd8f7c;
          border-bottom: 2px solid #fd8f7c;
        }
      }

      .active {
        color: #fd8f7c;
        border-bottom: 2px solid #fd8f7c;
      }
    }
  }
  .accessory-products__list {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;

    @media screen and (max-width: 767.98px) {
      padding: 0 5%;
    }
    @media screen and (max-width: 515.98px) {
      justify-content: center;
    }
  }
}
